*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    border-radius: 10px;
    width: 80vw;
    margin: 0 auto;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ),
    repeating-linear-gradient( #3eb5b855, #3eb5b8 ); /* used a website to create background gave the css code
    https://www.magicpattern.design/tools/css-backgrounds */
}

#nav-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url("src/th (1).webp");

}

#label1 {
    font-size: calc(3px + 3vw);
    color: black;
    background-color: whitesmoke;
    opacity: 0.8;
    border-radius: 8px;
}

#label2 {
    font-size: calc(3px + 3vw);
    color: black;
    background-color: whitesmoke;
    opacity: 0.8;
    border-radius: 8px;

}

#first-number{
    font-size: calc(2px + 2vw);
    padding: 2% 2%;
    margin-bottom: 3%;
}

#second-number{
    font-size: calc(2px + 2vw);
    padding: 2% 2%;
    margin-bottom: 3%;
}

#calc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;

}

.beub{
    padding: 1% 2%;
    font-size: calc(2px + 2vw);
    background-color: whitesmoke;
    opacity: 0.8;
    border-radius: 8px;
}

#output {
    text-align: center;
    font-size: calc(1px + 2vw);
}

#result{
    padding: 5%;
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

main{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 70%;
    text-align: center;
    justify-content: center;
    font-family:"Ribeye", cursive;
    margin: 2% 0;
}

main h3 {
    text-align: center;
    margin-bottom: 6%;
    font-size: calc(5px + 5vw);
    color: white;

}

header{
    padding: 1%;
    border-radius: 8px;
    background-color: #000000;
    opacity: 0.9;
    color: #ffffff;
}

nav{
    border-radius: 8px;
    background-color: #ffffff;
    opacity: 0.8;
    width: 30%;
}
nav ul{
    padding-left: 0;
    list-style: none;



}
nav li{
    border: 5px solid #ffffff;
    padding: 1%;
    width: 80%;
    margin: 18% auto;
    text-align: center;

}

nav a{
    color: #000000;
    font-size: calc(2px + 1.7vw);
    text-decoration: none;
    display: block;
}

nav a:hover{ /* google */
    background-color: #00f2ff;
    opacity: 0.5;
    text-decoration: none;
    color: #131313;
}



footer{
    padding: 1%;
    text-align: center;
}
@media  screen and (max-width: 1000px) {
    #nav-main{
        flex-direction: column;
    }

    nav, main{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #label1{
        flex-direction: column;
    }

    #label2{
        flex-direction: column;
    }
    #first-number{
        flex-direction: column;

    }
    #second-number{
        flex-direction: column;
    }
    #calc{
        flex-direction: column;
    }
    #buttons{
        display: flex;
    }
    #output{
        flex-direction: column;
    }

    nav li{
        font-size: calc(2px + 2vw);
        width: 25%;
        padding: 1%;
        margin: 0.3%;
    }

    header{
        text-align: center;
    }

    main{
        height: 100vh;
    }
}
